Source: python-oauthlib
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders: Daniele Tricoli <eriol@debian.org>
Section: python
Priority: optional
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python-all,
 python-blinker,
 python-cryptography,
 python-jwt (>= 1.0.0),
 python-mock,
 python-nose,
 python-setuptools (>= 0.6b3),
 python-unittest2,
 python3-all,
 python3-blinker,
 python3-cryptography,
 python3-jwt (>= 1.0.0),
 python3-mock,
 python3-nose,
 python3-setuptools
Standards-Version: 4.3.0
Homepage: https://github.com/idan/oauthlib
Vcs-Git: https://salsa.debian.org/python-team/modules/python-oauthlib.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/python-oauthlib
XS-Pexip-Upstream: http://ftp.debian.org/debian/ buster

Package: python-oauthlib
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-blinker,
 python-cryptography,
 python-jwt (>= 1.0.0)
Description: generic, spec-compliant implementation of OAuth for Python
 OAuthLib is a generic utility which implements the logic of OAuth without
 assuming a specific HTTP request object. It can be used to graft OAuth support
 onto HTTP libraries.
 .
 OAuth 1 is fully supported per the RFC for both clients and providers.
 .
 OAuth 2 client and provider support for:
 .
   - Authorization Code Grant
   - Implicit Grant
   - Client Credentials Grant
   - Resource Owner Password Credentials Grant
   - Refresh Tokens
   - Bearer Tokens
   - Draft MAC tokens
   - Token Revocation
   - OpenID Connect Authentication

Package: python3-oauthlib
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-blinker,
 python3-cryptography,
 python3-jwt (>= 1.0.0)
Description: generic, spec-compliant implementation of OAuth for Python3
 OAuthLib is a generic utility which implements the logic of OAuth without
 assuming a specific HTTP request object. It can be used to graft OAuth support
 onto HTTP libraries.
 .
 OAuth 1 is fully supported per the RFC for both clients and providers.
 .
 OAuth 2 client and provider support for:
 .
   - Authorization Code Grant
   - Implicit Grant
   - Client Credentials Grant
   - Resource Owner Password Credentials Grant
   - Refresh Tokens
   - Bearer Tokens
   - Draft MAC tokens
   - Token Revocation
   - OpenID Connect Authentication
 .
 This package contains the Python 3 version of the library.
